.edit-modal-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .file-selection {
        padding-left: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;

        & > .description {
            display: flex;
            align-items: center;
            gap: 24px;
            overflow: hidden;
            color: var(--color-on-surface);

            & > span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.legend {
                    flex-shrink: 0;
                    color: var(--color-on-surface-low-emphasis);
                }

                &.error {
                    color: #af0202;
                }
            }
        }
    }
}
