.update-modal-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & > .notes-title {
        font-weight: bold;
    }

    & pre {
        white-space: pre-wrap;
        margin: 0;
    }
}
