.modal {
    & > .scrim,
    & > .container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    &.open {
        & > .scrim,
        & > .container {
            pointer-events: auto;
        }
        & > .scrim {
            opacity: 1;
        }

        & > .container {
            transform: translateY(0);
            opacity: 1;
        }
    }

    & > .scrim {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.2s;
    }

    & > .container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        transform: translateY(-10px);
        opacity: 0;
        transition: transform .3s, opacity .3s;

        & > .window {
            padding: 30px;
            background-color: var(--color-surface);
            border-radius: 15px;
            width: 100%;
            height: 100%;
            max-width: 700px;
            max-height: 600px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            & > .title {
                display: flex;
                align-items: center;
                gap: 20px;
                flex-shrink: 0;

                & > h3 {
                    margin-block: 0;
                }
            }

            & > .content {
                flex-grow: 1;
                overflow-y: auto;
            }

            & > .actions {
                flex-shrink: 0;
                display: flex;
                gap: 20px;
                justify-content: end;
                align-items: center;
            }
        }
    }
}
