.button {
    border: none;
    border-radius: 1000px;
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    transition:
        background-color 0.2s,
        color.2s;

    &:disabled {
        cursor: not-allowed;
    }

    &:has(svg) {
        padding-left: 14px;
    }

    &.icon-button {
        padding: 0px 12px;
    }

    &.loading {
        & > * {
            visibility: hidden;
        }

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 2px solid transparent;
            border-radius: 50%;
            animation: spin 1s ease infinite;
        }
    }

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-on-primary);

        &:disabled {
            background-color: var(--color-surface-dark);
            color: var(--color-on-surface-low-emphasis);
        }

        &:hover {
            background-color: var(--color-primary-light);
        }

        &.loading::after {
            background-color: var(--color-surface-dark);
            border-top-color: var(--color-primary);
        }
    }

    &.secondary {
        background-color: transparent;
        color: var(--color-primary-light);

        &:disabled {
            color: var(--color-on-surface-low-emphasis);
            background-color: transparent;
        }

        &:hover {
            background-color: var(--color-surface-dark);
        }

        &.loading::after {
            background-color: transparent;
            border-top-color: var(--color-on-surface-low-emphasis);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
