.panel {
    width: 400px;
    background-color: var(--color-surface);
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    border: solid 1px var(--color-surface-dark);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color-on-surface-low-emphasis);

    & > .preview-container {
        overflow: hidden;
        position: relative;
        height: 300px;
        cursor: pointer;
        width: 100%;

        & > .preview {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: scale 0.3s;
        }
    }

    & > .none {
        display: flex;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .preview-legend {
        font-size: 12px;
        font-weight: 500;
    }

    & > .content {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        & > .infos {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & > div {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            > .name {
                color: var(--color-on-surface);
                margin-block-start: 0;
            }
        }

        & > .actions {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}
